.button {
    width: 100%;
    padding: 1.2em 0;
    background-color: var(--grey-background);
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: var(--foreground-special);
    border-radius: 0.55em;
    margin-top: 0.4em;
    border: 3px solid var(--muted-accent);
    transition: all 0.3s ease;
}

.button-layout {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.button:hover {
    transform: scale(1.03);
    background-color: var(--muted-accent);
}

.refresh {
    margin-top: 0.4em;
    cursor: pointer;
    font-size: 1.3em;
    color: var(--foreground-normal);
    transition: color 0.3s ease;
}

.refresh:hover {
    color: var(--foreground-special);
    animation: spin 0.6s ease;
}
/* animation so that no spin on unhover */
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}

/* animation for text on button */
.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease;
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms ease;
}
  