/* maybe just image and hover reveals text? */
/* add highlights */

.outer-container {
    width: 45%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    transition: border-radius 0.3s ease;
}

.card:hover .container {
    max-height: 100%;
    border-radius: 1.5vw;
}

.card .other {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    opacity: 0;
    max-height: 0;
    transform: translateY(-100%);
    overflow: hidden;
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        max-height 0.3s ease;
    background-color: var(--grey-background);
    z-index: 1;
}

.card:hover .other {
    opacity: 1;
    max-height: 100%;
    transform: translateY(0);
    pointer-events: auto;
}

.card .other-padding {
    padding: 2.5% 4%;
}

.container .top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1%;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.title h3 {
    line-height: 1;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: flex-start;
    z-index: 2;
}

.image img {
    display: block;
}

.links {
    display: flex;
    flex-flow: row nowrap;
}

.description p {
    font-size: 0.9em;
}

.links a {
    font-size: 1.3em;
    line-height: 1;
}

.tags {
    display: flex;
    flex-flow: row wrap;
}

.tags .tag {
    margin-right: 0.4em;
}