.outer-container {
    width: 55%;
    border-radius: 1.5vw;
    overflow: hidden;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

.image img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}

/* hidden text */
.other {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease, padding 1.0s ease;
    background-color: var(--grey-background);
    padding: 0 4%;
}

.outer-container:hover .other {
    max-height: 1000px; /* large value (won't overflow) */
    padding: 2.5% 4%;
}

.other-padding {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.container .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h3 {
    margin: 0;
    font-size: 1.2em;
    word-break: break-word;
    white-space: normal;
}

.links {
    display: flex;
    gap: 0.3em;
    margin-left: 0.5em;
}

.links a {
    font-size: 1.25em;
    transition: color 0.5s ease;
}

.links a:hover {
    color: var(--accent);
}

.description p {
    font-size: 0.8em;
    margin: 0;
}

.tags {
    display: flex;
    flex-flow: row wrap;
}

.tags .tag {
    margin-right: 0.4em;
}