/* maybe just image and hover reveals text? */
/* add highlights */

.outer-container {
    width: 80%;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 1.5vw;
    overflow: hidden;
    background-color: var(--grey-background);
}

.other {
    padding: 2%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.container .top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.title h3 {
    line-height: 1;
}

.image {
    width: 40%;
    height: auto;
    object-fit: cover;
    align-self: flex-start;
}

.links {
    display: flex;
    flex-flow: row nowrap;
}

.description p {
    font-size: 0.9em;
}

.links a {
    font-size: 1.3em;
    line-height: 1;
}

.tags {
    display: flex;
    flex-flow: row nowrap;
}

.tags .tag {
    margin-right: 0.4em;
}