.about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.about .description .text {
    margin-bottom: 0.3em;
}

.about .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 45%;
    margin-left: 5%;
  }
  

.about .image figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    margin-top: 0.3rem;
}

.about .image img {
    width: 100%;
    /* border: 3px solid var(--muted-accent);*/
    border-radius: 5%;
}

.more {
    display: flex;
    gap: 2rem;
}
  
.resume-github {
    flex: 1;
    min-width: 0;
}