header nav ul, footer nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
} 

header .name a {
    font-size: 1.6em;
    font-weight: bold;
}

header .navs, footer .socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .nav {
    margin-left: 2vw;
}

footer .nav {
    margin-left: 0.5vw;
}

nav a {
    color: var(--foreground-special);
}

footer {
    border-top: 2px solid var(--muted-accent);
    margin-top: 1.5rem;
    padding-top: 0.75rem;
}

footer .copyright {
    color: var(--foreground-special);
    font-size: 0.8em;
}

footer .socials a {
    font-size: 1.75em;
    transition: color 0.4s ease-in-out;
}

footer .socials a:hover {
    color: var(--accent); /* fix link height problem */
}

footer ul {
    padding: 0;
    border: 0;
    margin: 0;
}

/* ANIMATION */
.link-page {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

/* Create underline */
.link-page::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0em; 
    width: 0;
    height: 0.1em;
    background-color: var(--accent);
    transition: width 0.3s ease, left 0.3s ease;
}

/* Expand on hover */
.link-page:hover::after { 
    width: 80%;
    left: 10%;
}


/* CURRENT PAGE UNDERLINE */
.current-page::after {
    content: "";
    position: absolute;
    left: 10%; 
    bottom: 0em;
    width: 80%;
    height: 0.1em;
    background-color: var(--accent);
}
