header nav ul, footer nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
} 

header .name a {
    font-size: 1.4rem;
    font-weight: bold;
}

header .navs, footer .socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .nav {
    margin-left: 2vw;
}

footer .nav {
    margin-left: 0.5vw;
}

nav a {
    color: var(--foreground-special)
}




/* ANIMATION */
.link-major {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

/* Create underline */
.link-major::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0em; 
    width: 0;
    height: 0.1em;
    background-color: var(--muted-accent);
    transition: width 0.3s ease, left 0.3s ease;
}

/* Expand on hover */
.link-major:hover::after { 
    width: 80%;
    left: 10%;
}


/* CURRENT PAGE UNDERLINE */
.current-page::after {
    content: "";
    position: absolute;
    left: 10%; 
    bottom: 0em;
    width: 80%;
    height: 0.1em;
    background-color: var(--muted-accent);
}
