.tag {
    display: inline-block;
    font-size: 0.75em;
    font-style: italic;
    background-color: var(--muted-accent);
    color: var(--foreground-special);
    line-height: 1;
    padding: 0.35em 0.4em;
    border-radius: 0.5em;
}