/*
Color Palette:
- #000000 - black
- #380356 - dark purple
- #520a7c - purple
- #a200ff - light purple
- #dfa8ff - very light purple (background/gradient)
- #9d7ab0 - greyish purple
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Poppins',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: black;
    color:white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
} 

.highlight {
    color: #dfa8ff;
    font-weight: 600;
}

/* Intro */
#intro .container {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    flex-flow: column wrap;
}

#intro .container .static-text {
    font-size: 90px;
    display: flex;
    flex-flow: row wrap;
    margin-top: -25px;
}

.container3,
.container2,
.container4 {
    display: inline flex;
    flex-flow: row wrap;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
}

#intro .highlight {
    margin-left: 25px;
}

#intro .simple-text {
    font-size: 35px;
    text-align: center;
}

#intro .links {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

#intro .links .gmail {
    margin-right: 40px;
    margin-left: 40px;

}

#intro .links .github-img,
#intro .links .gmail-img,
#intro .links .linkedin-img {
    width: 3vw;
    height: auto;
    background-color: #bfa0d0;
    padding: 10px;
    border-radius: 10px;
}


#intro .links img {
    border: 2px solid transparent;
    cursor: pointer;
    overflow: hidden;
    width: 3vw;
    height: 3vw;
}

#intro .links img:hover {
    border: 2px solid #bfa0d0;
    -webkit-box-shadow:0px 0px 47px 8px rgba(83,7,133,0.9);
    -moz-box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    background-color: white;
}


#intro .scroll-arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #9d7ab0;
    border-right: 5px solid #9d7ab0;
    transform: rotate(45deg);
    margin: -17px;
    animation: scroll 2s infinite;
}

.scroll-arrow span:nth-child(2) {
    animation-delay: -200ms;
}

.scroll-arrow span:nth-child(3) {
    animation-delay: -400ms;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

/* About Me */
#about-me {
    display: flex;
    justify-content: space-between;
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 200px;
    margin-bottom: 200px;
}

#about-me .left-side img {
    width: 24vw;
    height: auto;
    border-radius: 30px;
    -webkit-box-shadow:0px 0px 47px 8px rgba(83,7,133,0.9);
    -moz-box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    flex: 1;
    margin-right: 20px;
}

#about-me .right-side {
    display: flex;
    flex-flow: column wrap;
    max-width: 600px;
}

#about-me .right-side .title {
    font-size: 40px;
    font-weight: 700;
    color: #dfa8ff;
    margin-bottom: 10px;
}

#about-me .right-side .text {
    font-size: 20px;
}

#about-me .right-side .resume-button {
    width: 60%;
    margin-top: 50px;
    background-color: #9d7ab0;
    font-weight: 600;
    color: white;
    padding: 16px 20px;
    text-align: center;
    font-size: 22px;
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid transparent;
}

#about-me .right-side .resume-button:hover {
    background-color: white;
    color: #9d7ab0;
    -webkit-box-shadow:0px 0px 47px 8px rgba(83,7,133,0.9);
    -moz-box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    cursor: pointer;
    border: 2px solid #bfa0d0;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-flow: column;
}

#portfolio .title-total {
    font-size: 40px;
    font-weight: 700;
    color: #dfa8ff;
    margin: auto;
    margin-bottom: -250px;
}

#portfolio .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 300px;
    margin-bottom: 300px;
}

#portfolio .project img {
    object-fit: cover;
    width: 300px;
    height: auto;
    border-radius: 20px;
    border: 1px solid transparent;
}

#portfolio .project p {
    width: 300px;
}

#portfolio .project {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    background-color: #9d7ab0;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid white;
}

#portfolio a {
    text-decoration: none;
    display: flex;
}

#portfolio .project:hover {
    background-color: white;
    color: #9d7ab0;
    -webkit-box-shadow:0px 0px 47px 8px rgba(83,7,133,0.9);
    -moz-box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    box-shadow: 0px 0px 47px 8px rgba(83,7,133,0.9);
    cursor: pointer;
    border: 2px solid #bfa0d0;
}

#portfolio .project:hover img {
    cursor: pointer;
    border: 1px solid #bfa0d0;
}

#portfolio .project .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#portfolio .project .des {
    font-size: 15px;
}

#portfolio .highlight2 {
    color: #360d4e;
    font-weight: 600;
}

/* Proficiencies */



/* Connect */

