/*
Color Palette:
- #000000 - black
- #380356 - dark purple
- #a445b7 - purple
- #a200ff - light purple
- #a445b7 - very light purple (background/gradient)
- #9d7ab0 - greyish purple
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    font-family: 'Poppins',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #ededed;
    color: black;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
} 

.highlight {
    color: #a445b7;
    font-weight: 600;
}

/* Intro */
#intro {
    margin-top: -5vh;
}

#intro .container {
    width: 100%;
    height: 100vh;
    background: #ededed;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
    flex-flow: column wrap;
}

#intro .container2 {
    margin-bottom: 4vh;
}

#intro .container .static-text {
    font-size: 90px;
    display: flex;
    flex-flow: row wrap;
    margin-top: -5vh;
}

#intro .highlight{
    text-align: center;
    line-height: 1;
    color: #360d4e;
}

.container2,
.container3,
.container4 {
    display: inline flex;
    flex-flow: row wrap;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
}

#intro .simple-text {
    font-size: 35px;
    text-align: center;
}

#intro .links {
    display: flex;
    justify-content: center;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 3vh;
}

#intro .links .gmail {
    margin-right: 3vw;
    margin-left: 3vw;

}

.github-img,
.gmail-img,
.linkedin-img {
    background-color: rgba(223, 204, 240, 0.5);
    padding: 10px;
    border-radius: 10px;
    /*border: 2px solid white;*/
    cursor: pointer;
    overflow: hidden;
    width: 3vw;
    height: 3vw;
    transition: all 1s;
}

.github-img:hover,
.gmail-img:hover,
.linkedin-img:hover {
    /*border: 2px solid #bfa0d0;*/
    -webkit-box-shadow:0px 0px 93px 12px rgba(229,221,239,0.46);
    -moz-box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    background-color: white;
    transition: all 1s;
}


#intro .scroll-arrow {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 1 1 auto;
}

.scroll-arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgba(223, 204, 240, 0.75);
    border-right: 5px solid rgba(223, 204, 240, 0.75);
    transform: rotate(45deg);
    margin: -17px;
    animation: scroll 2s infinite;
}

.scroll-arrow span:nth-child(2) {
    animation-delay: -200ms;
}

.scroll-arrow span:nth-child(3) {
    animation-delay: -400ms;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

@media only screen and (max-width: 425px)
{
    #intro {
        margin-top: 1vh;
    }

    #intro .container {
        font-size: 27px;
    }

    #intro .container .static-text {
        font-size: 50px;
        padding: 10px;
    }
    
    #intro .simple-text {
        font-size: 18px;
    }

    .github-img,
    .gmail-img,
    .linkedin-img {
        width: 5vw;
        height: auto;
    }
}

@media only screen and (min-width: 1600px)
{
    #intro .container {
        font-size: 95px;
    }

    #intro .container .static-text {
        font-size: 130px;
        padding: 10px;
    }
    
    #intro .simple-text {
        font-size: 60px;
    }

    .github-img,
    .gmail-img,
    .linkedin-img {
        width: 5vw;
        height: auto;
        padding: 1vw;
        border-radius: 30px;
        /*border: 6px solid white;*/
    }

    .github-img:hover,
    .gmail-img:hover,
    .linkedin-img:hover {
        /*border: 6px solid #bfa0d0;*/
    }
}




/* About Me */
#about-me {
    scroll-margin-top: calc(15vh); 
}

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16vw;
    margin-right: 16vw;
    margin-top: 30vh;
    margin-bottom: 35vh;
    padding-top: 20px;
}

#about-me .left-side img {
    width: 24vw;
    height: auto;
    border-radius: 30px;
    -webkit-box-shadow:0px 0px 32px 2px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.31);
    flex: 1;
    margin-right: 20px;
}

#about-me .right-side {
    display: flex;
    flex-flow: column wrap;
    max-width: 600px;
}

#about-me .right-side .title {
    font-size: 40px;
    font-weight: 700;
    color: #360d4e;
    margin-bottom: 10px;
}

#about-me .right-side .text {
    font-size: 20px;
}

#about-me .right-side .resume-button {
    width: 27vw;
    margin-top: 6.5vh;
    background-color: rgba(223, 204, 240, 0.5);
    font-weight: 600;
    color: #a445b7;
    padding: 2vh 1vw;
    text-align: center;
    font-size: 22px;
    transition: 0.3s;
    border-radius: 10px;
    /*border: 2px solid white;*/
    border: 0px;
    transition: all 1s;
}

#about-me .right-side .resume-button:hover {
    background-color: white;
    -webkit-box-shadow:0px 0px 93px 12px rgba(229,221,239,0.46);
    -moz-box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    cursor: pointer;
    /*border: 2px solid #bfa0d0;*/
    transition: all 1s;
}

#about-me .img-2 {
    display: none;
}

@media only screen and (max-width: 425px) {
    #about-me {
        margin-top: 10vh;
        margin-bottom: 15vh;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #about-me .left-side {
        display: none; 
    }

    #about-me .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
    }
    
    #about-me .right-side .title {
        font-size: 30px;
        margin-bottom: 2vh;
    }

    #about-me .right-side .text {
        font-size: 10px;
        margin-bottom: 20px;
    }

    #about-me .right-side .resume-button {
        width: 50vw; 
        font-size: 15px;
        padding: 1vh 1vw;
        margin-top: 10px;
        text-align: center; 
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    #about-me {
        flex-direction: column; 
        align-items: center;
        justify-content:center;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #about-me .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
  
    #about-me .right-side-2 {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
    }

    #about-me .img-1 {
        display: none;
    }
  
    #about-me .right-side .img-2 {
        display: block; 
        width: 20vw;
        height: auto;
        border-radius: 30px;
        -webkit-box-shadow:0px 0px 14px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
        margin-right: 20px;
    }

    #about-me .right-side .title {
        font-size: 40px;
        margin-bottom: 2vh;
        text-align: center;
    }
  
    #about-me .right-side .text {
        font-size: 14px;
        text-align: left;
        margin-top: 0;
        max-width: 60%;
    }
  
    #about-me .right-side .resume-button {
        width: 50vw; 
        margin-top: 5vh;
        padding: 1vh 5vw;
        align-self: center;
    }

    #about-me .resume-button button {
        font-size: 10px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #about-me {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    #about-me .right-side .text {
        font-size: 15px;
        margin-bottom: 20px;
    }

    #about-me .right-side .resume-button {
        width: 50vw; 
        font-size: 15px;
        margin-top: 3vh;
        text-align: center; 
    }

    #about-me .right-side .img-1 {
        -webkit-box-shadow:0px 0px 14px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    #about-me {
        margin-bottom: 40vh;
        scroll-margin-top: calc(30vh); 
    }

    #about-me .right-side .resume-button {
        width: 60vw; 
        font-size: 20px;
        padding: 1vh 1vw;
        margin-top: 10px;
        text-align: center; 
    }

}

@media only screen and (min-width: 1600px)
{
    #about-me {
        margin-left: 15vw;
        margin-right: 15vw;
        margin-bottom: 40vh;
    }

    #about-me .left-side .img-1 {
        width: 28vw;
        height: auto;
    }

    #about-me .right-side {
        max-width: 50vw;
    }

    #about-me .right-side .title {
        font-size: 70px;
        margin-bottom: 2vh;
        text-align: center;
    }

    #about-me .right-side .text {
        font-size: 35px;
        margin-bottom: 0vh;
        flex-grow: 1;
        max-width: 100%;
        width: 35vw;
        min-width: 0;
    }

    #about-me .right-side .resume-button {
        width: 35vw; 
        font-size: 45px;
        text-align: center; 
        border-radius: 30px;
        /*border: 6px solid white;*/
    }

    #about-me .right-side .resume-button:hover {
        /*border: 6px solid #bfa0d0;*/
    }
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-flow: column;
    margin-bottom: -75px;
    margin-left: 2vw;
    margin-right: 2vw;
}

#portfolio .title-total {
    font-size: 40px;
    font-weight: 700;
    color: #360d4e;
    margin: 0 auto;
}

#portfolio .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 38vh;
}

#portfolio .delaytwo {
    display: flex;
}

#portfolio .project img {
    object-fit: cover;
    min-width: 150px;
    max-width: 450px;
    width: 350px;
    height: auto;
    border-radius: 20px;
    /*border: 1px solid transparent;*/
    border: 1px solid white;
}

#portfolio .project p {
    min-width: 150px;
    max-width: 450px;
    width: 350px;

    color: #a445b7;
}

#portfolio .project {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    background-color: rgba(223, 204, 240, 0.5);
    border-radius: 10px;
    margin: 10px;
    /*border: 2px solid white;*/
    transition: all 1s;
    color: #a445b7;
    min-height: 30vh;
    height: auto;
    flex: 1 1 0;
    min-width: 150px;
    max-width: 450px;
    width: 350px;
}

#portfolio a {
    text-decoration: none;
    display: flex;
}

#portfolio .project:hover {
    background-color: white;
    color: #9d7ab0;
    -webkit-box-shadow:0px 0px 93px 12px rgba(229,221,239,0.46);
    -moz-box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    cursor: pointer;
    /*border: 2px solid #bfa0d0;*/
    transition: all 1s;
}

#portfolio .project:hover img {
    cursor: pointer;
    border: 1px solid #bfa0d0;
    transition: all 1s;
}

#portfolio .project .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1vh;
}

#portfolio .project .des {
    font-size: 15px;
}

#portfolio .highlight2 {
    color: #360d4e;
    font-weight: 600;
}

@media only screen and (min-width: 1600px)
{
    #portfolio {
        margin-bottom: 0vh;
    }

    #portfolio .title-total {
        font-size: 70px;
    }

    #portfolio .project .title {
        font-size: 35px;
    }

    #portfolio .project .des {
        font-size: 27px;
    }

    #portfolio .project img,
    #portfolio .project p,
    #portfolio .project {
        min-width: 400px;
        max-width: 700px;
        width: 450px;
    }

    #portfolio .project {
        border-radius: 30px;
        /*border: 6px solid white;*/
    }

    #portfolio .project:hover {
        /*border: 6px solid #bfa0d0;*/
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    #portfolio .project img {
        min-width: 150px;
        max-width: 300px;
        width: 250px;
    }
    
    #portfolio .project p {
        min-width: 150px;
        max-width: 300px;
        width: 250px;
    }
    
    #portfolio .project {
        min-width: 150px;
        max-width: 300px;
        width: 250px;
    }

    #portfolio .project .title {
        font-size: 17px;
    }

    #portfolio .project .des {
        font-size: 13px;
    }

}

@media only screen and (max-width: 425px) {
    #portfolio .project img {
        min-width: 150px;
        max-width: 275px;
        width: 220px;
    }
    
    #portfolio .project p {
        min-width: 150px;
        max-width: 275px;
        width: 220px;
    }
    
    #portfolio .project {
        min-width: 150px;
        max-width: 275px;
        width: 220px;
    }

    #portfolio .title-total {
        font-size: 30px;
    }

    #portfolio .project .title {
        font-size: 15px;
    }

    #portfolio .project .des {
        font-size: 11px;
    }

}



/* Proficiencies */
#proficiencies .skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

#proficiencies .title-total {
    font-size: 40px;
    font-weight: 700;
    color: #360d4e;
    text-align: center;
    margin-bottom: 2vh;
}

#proficiencies img {
    object-fit: cover;
    width: 40px;
    height: auto;
    background-color: #a445b7;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid white;
}

#proficiencies .skill {
    display: flex;
    flex-flow: column;
    background-color: rgba(223, 204, 240, 0.5);
    width: 33vw;
    flex: 1 1 auto;
    padding: 10px;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 2vh;
    border-radius: 10px;
    /*border: 2px solid white;*/
    transition: all 1s;
}

#proficiencies .skill:hover {
    background-color: white;
    color: #9d7ab0;
    -webkit-box-shadow:0px 0px 93px 12px rgba(229,221,239,0.46);
    -moz-box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    cursor: pointer;
    /*border: 2px solid #bfa0d0;*/
    transition: all 1s;
}

#proficiencies .skill:hover img {
    /*border: 1px solid #bfa0d0;*/
    border: 1px solid #bfa0d0;
    transition: all 1s;
}

#proficiencies .skill:hover .stars {
    color: #a445b7;
}

#proficiencies .title {
    font-size: 20px;
    font-weight: bold;
}

#proficiencies .subtitle {
    font-size: 14px;
    font-style: italic;
}

#proficiencies p {
    color: #a445b7;
}

#proficiencies .up {
    display: flex;
    justify-content: space-between;
}

#proficiencies .stars {
    color: white;
}

#proficiencies a {
    text-decoration: none;
    display: flex;
}

#proficiencies .bottom {
    font-size: 15px;
}

@media only screen and (min-width: 1600px) {
    #proficiencies .skills{
        margin-left: 3vw;
        margin-right: 3vw;
    }

    #proficiencies .title-total {
        font-size: 70px;
        margin-bottom: 3vh;
    }

    #proficiencies .title {
        font-size: 35px;
    }

    #proficiencies .subtitle {
        font-size: 27px;
    }

    #proficiencies .bottom {
        font-size: 27px;
    }

    #proficiencies .skill {
        width: 43vw;
        border-radius: 30px;
        /*border: 6px solid white;*/
    }

    #proficiencies .skill:hover {
        /*border: 6px solid #bfa0d0;*/
    }

    #proficiencies img {
        width: 2vw;
        height: auto;
    }
}

@media only screen and (max-width: 425px)
{
    #proficiencies .skills {
        justify-content: center;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
    
    #proficiencies .skill {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }

    #proficiencies .title-total {
        font-size: 30px;
        margin-top: 6vh;
        margin-bottom: 2vh;
    }

    #proficiencies img {
        width: 4vw;
        height: auto;
    }

    #proficiencies .title {
        font-size: 18px;
    }

    #proficiencies .subtitle {
        font-size: 10px;
    }

    #proficiencies .bottom {
        font-size: 10px;
    }
}

/* Connect */
#connect {
    margin-top: 32.5vh;
    margin-bottom: 15vh;
    scroll-margin-top: calc(0vh);
}

#connect .bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 23vw;
    margin-right: 23vw;
}

#connect .title-total {
    font-size: 40px;
    font-weight: 700;
    color: #360d4e;
    text-align: center;
    margin-bottom: 40px;
}

#connect .socials {
    display: flex;
    flex-flow: column nowrap;
}

#connect .socials img {
    background-color: rgba(223, 204, 240, 0.5);
    padding: 15px;
    border-radius: 15px;
    /*border: 2px solid white;*/
    cursor: pointer;
    overflow: hidden;
    width: 8.4vw;
    height: 8.4vw;
    margin-bottom: 20px;
    margin-right: 3vw;
}

#connect .socials img:hover{
    /*border: 2px solid #bfa0d0;*/
    -webkit-box-shadow:0px 0px 93px 12px rgba(229,221,239,0.46);
    -moz-box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    background-color: white;
}

#connect ul {
    list-style: none;
    background-color: rgba(223, 204, 240, 0.5);
    border-radius: 15px;
}

#connect ul li {
    display: inline-block;
    position: relative;
}

#connect ul li a {
    display: flex;
    flex: 1;
    padding: 30px 40px;
    color: #a445b7;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    /*border: 2px solid transparent;*/
    transition: all 1s;
}

#connect ul li .top {
    /*border: 2px solid white;*/
}


#connect ul li ul.dropdown li {
    display: flex;
    transition: all 1s;
}

#connect ul li ul.dropdown {
    width: 100%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}

#connect ul li a:hover {
    background-color: white;
    /*border: 2px solid #bfa0d0;*/
    -webkit-box-shadow:0px 0px 93px 12px rgba(229,221,239,0.46);
    -moz-box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    box-shadow: 0px 0px 93px 12px rgba(229,221,239,0.46);
    transition: all 1s;
}

#connect ul li:hover ul.dropdown {
    display: flex;
    flex-flow: column nowrap;
}

@media only screen and (min-width: 1600px) {
    #connect {
        margin-top: 26vh;
        margin-bottom: 26.5vh;
    }

    #connect .bottom {
        margin-right: 22vw;
        margin-left: 22vw;
    }

    #connect .title-total {
        font-size: 70px;
        margin-bottom: 3vh;
    }

    #connect ul li a {
        font-size: 55px;
    }

    #connect .socials img {
        margin-right: 5vw;
    }

    #connect ul {
        border-radius: 30px;
    }

    #connect ul li .top {
        /*border: 6px solid white;*/
    }

    #connect ul li a {
        border-radius: 30px;
        /*border: 6px solid transparent;*/
    }

    #connect ul li a:hover {
        /*border: 6px solid #bfa0d0;*/
    }

    #connect .socials img {
        border-radius: 30px;
        /*border: 6px solid white;*/
    }

    #connect .socials img:hover {
        /*border: 6px solid #bfa0d0;*/
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px)
{
    #connect .bottom {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    #connect ul li a {
        font-size: 19px;
        padding: 15px 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
    #connect .bottom {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    #connect ul li a {
        font-size: 25px;
        padding: 20px 27px;
    }
}

@media only screen and (max-width: 425px)
{
    #connect {
        margin-top: 8vh;
    }

    #connect .bottom {
        margin-left: 10vw;
        margin-right: 10vw;
    }   

    #connect .title-total {
        font-size: 30px;
        margin-bottom: 2vh;
    }

    #connect .socials img {
        width: 6vh;
        height: 6vh;
    }

    #connect ul li a {
        font-size: 15px;
        padding: 10px 20px;
    }
}


/* Footer */
#footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #e5ddef;
}

#footer a {
    color: black;
    font-size: 12px;
}

#footer p {
    font-size: 12px;
}

/* Credit */
.attribution a {
    color: white;
}

.attribution img {
    background-color: white;
    width: 10vw;
    height: auto;
}

.back-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.title-att {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #a445b7;
}

.back {
    background-color: #bfa0d0;
    padding: 20px;
    border-radius: 10px;
    /*border: 2px solid white;*/
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 50px;
    color: white;
}

/* Navigation */
#navbar svg {
    fill: #a445b7;
}

#navbar .links-container {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 250px;
    background-color: #e5ddef;
    transition: 400ms ease-in;
}

#navbar a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #a445b7;
    font-size: 18px;
    font-weight: bold;
}

.open-sidebar{
    padding: 20px;
    display: block;
}

.close-sidebar {
    padding: 40px;
    display: block;
    padding-bottom: 20px;
}

#navbar .open-sidebar {
    position: fixed;
    top: 20px; 
    left: 20px; 
    z-index: 11;
}

#navbar .close-sidebar {
    top: 20px;
    left: 20px;
}

#sidebar-active:checked ~ .open-sidebar {
    display: none; 
}

#sidebar-active:checked ~ .links-container {
    left: 0;
}

#navbar a:hover {
    background-color: #bfa0d0;
}

#navbar .home {
    margin-right: auto; 
}

#sidebar-active {
    display: none;
}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

@media only screen and (max-width: 768px) {
    #navbar .links-container {
        width: 150px;
    }

    #navbar a {
        font-size: 15px;
        padding: 15px 22px;
    }

    #navbar svg {
        width: 30px; 
        height: 30px; 
        display: block;
    }

    #navbar .open-sidebar {
        position: fixed;
        top: 5px; 
        left: 5px; 
        z-index: 11;
    }

    #navbar .close-sidebar {
        position: relative;
        top: -15.5px; 
        left: -15.5px; 
    }
}

@media only screen and (min-width: 1600px) {
    #navbar .links-container {
        width: 500px;
    }

    #navbar a {
        font-size: 40px;
        padding: 50px 50px;
    }

    #navbar svg {
        width: 80px; 
        height: 80px;
        display: block;
    }
}


/* Transitions */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}

/* If the user doesn't want to see transitions */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none
    }
}

.delay:nth-child(2) {
    transition-delay: 150ms;
}
.delay:nth-child(3) {
    transition-delay: 300ms;
}

.delaytwo:nth-child(2) {
    transition-delay: 150ms;
}
.delaytwo:nth-child(3) {
    transition-delay: 300ms;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

