@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Light mode */
:root {
  --background: rgb(247, 255, 255);
  --primary: rgb(0, 0, 0);
  --secondary: rgb(25, 100, 169);
  --accent: rgb(205, 92, 245);
  --accent-rgb: 205, 92, 245;
}

/* Dark mode */
.dark {
  --background: rgb(0, 0, 0);
  --primary: rgb(247, 255, 255);
  --secondary: rgb(37, 202, 241);
  --accent: rgb(249, 243, 0);
  --accent-rgb: 249, 243, 0;
}

/* Global Styles */
html, body {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-weight: 300;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  min-height: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
  text-decoration: none; 
}

h3 {
  font-weight: 500;
  font-style: italic;
  font-size: 1.6rem;
}

ul {
  list-style: none; 
  font-size: 1.4rem;
  line-height: 1.5;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: var(--secondary);
  cursor: pointer;
}

.important {
  position: relative;
  cursor: pointer;
  font-style: italic;
}

.important::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1em;
  height: 2px;
  width: 100%;
  background-color: rgba(247, 255, 255, 0.7);
  z-index: 0;
}

.important::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1em;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 1;
}

.important:hover::after {
  transform: scaleX(1);
}