.about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.about .description .text {
    margin-bottom: 0.3em;
}

.about .image-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 45%;
    margin-left: 5%;
  }
  
.about .image-me img {
    width: 100%;
    border: 1px solid var(--muted-accent);
    border-radius: 0.4em;
}

.about .image-me figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    margin-top: 0.3rem;
}


.more {
    display: flex;
    gap: 4%;
    align-items: flex-start;
}

.text li {
    position: relative;
    list-style-position: inside; 
    transition: all 0.3s ease;
}

.resume-github {
    flex: 1;
    min-width: 0;
}

.skills {
    width: 35%;
}

.skills .grouped-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 0.9rem;
}

.skills .grouped-skills svg {
    width: 2.5em;
    height: auto;
    transition: color 0.5s ease;
}

.skills .grouped-skills svg:hover {
    color: var(--accent);
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
    .about .image-me {
        margin-left: 2%;
    }

    .skills .grouped-skills {
        margin-top: 0.75rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Mobile L */
@media (min-width: 425px) and (max-width: 767px) {

}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {

}

/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {

}