header nav ul, footer nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
} 

header .name a {
    font-size: 1.9rem;
    font-family: var(--font-garamond);
}

header .navs a {
    font-size: 1.1rem;;
}

header .navs, footer .socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .nav {
    margin-left: 2vw;
}

footer .nav {
    margin-left: 0.5vw;
}

footer nav {
    margin: 0.45rem 0;
}

nav a {
    color: var(--foreground-special);
}

footer {
    border-top: 2px solid var(--muted-accent);
    margin-top: 1.5rem;
    padding-top: 0.45rem;
}

footer .webring {
    display: flex;

}

footer .webring a, footer .socials a {
    display: flex;
    align-items: center;
}


footer .webring .wricon {
    width: 1.5rem;
    height: auto;
    margin: 0 0.5em;
    transition: all 0.4s ease-in-out;
    color: var(--foreground-special);
}

/* For safari */
footer .webring .wricon svg {
  width: 1.5rem;
  height: auto;
}

footer .copyright {
    color: var(--foreground-special);
    font-size: 0.8em;
}

footer .socials {
    align-items: flex-end;
}

footer .socials a, footer .webring .arrow {
    transition: all 0.4s ease-in-out;
}

footer .socials a:hover, footer .webring .arrow:hover, footer .webring .wricon:hover {
    color: var(--accent); 
}

footer .socials a:hover {
    transform: scale(1.1);
}

footer .socials svg {
    width: 1.8rem;
    aspect-ratio: 1/1;
}


footer ul {
    padding: 0;
    border: 0;
    margin: 0;
}

/* ANIMATION */
.link-page {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

/* Create underline */
.link-page::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0em; 
    width: 0;
    height: 0.1em;
    background-color: var(--accent);
    transition: width 0.3s ease, left 0.3s ease;
}

/* Expand on hover */
.link-page:hover::after { 
    width: 100%;
    left: 0%;
}


/* CURRENT PAGE UNDERLINE */
.current-page::after {
    content: "";
    position: absolute;
    bottom: 0em;
    width: 100%;
    left: 0%;
    height: 0.1em;
    background-color: var(--accent);
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    footer .webring img { 
        width: 1.7rem;
    }

    /* For safari */
    footer .webring .wricon svg {
        width: 1.7rem;
        height: auto;
    }

    footer .socials {
        gap: 0.2em;
    }

    footer .socials svg {
        width: 1.8em;
    }

    footer .copyright {
        margin-top: 0.3em;
    }
}

/* Mobile L */
@media (min-width: 0px) and (max-width: 767px) {
    header .nav {
        margin-left: 4vw;
    }

    header .name a {
        font-size: 1.6rem;
    }

    footer .socials svg {
        width: 2em;
    }

    footer .socials {
        gap: 0.3em;
    }

    footer .webring .wricon { 
        width: 1.7rem;
    }

    /* For safari */
    footer .webring .wricon svg {
        width: 1.7rem;
        height: auto;
    }
}

/* Mobile M */
@media (min-width: 0px) and (max-width: 424px) {
    header .navs a {
        font-size: 1rem;
    }
}

/* Mobile S */
@media (min-width: 0px) and (max-width: 374px) {
    header .name a {
        font-size: 1.5rem;
    }

    footer .webring .wricon {
        width: 1.4rem;
    }

    /* For safari */
    footer .webring .wricon svg {
        width: 1.4rem;
        height: auto;
    }
}